{% extends "base.html" %}
{% block content %}

<h1>Create Assessment</h1>
<br>
<div class="row">
  <div class="col-2"></div>
    <div class="col-8">
      <form method="post" name="create">
          {{ form.hidden_tag() }}
          <label>Title</label>
          {{ form.title(class_="form-control") }}
          {% for error in form.title.errors %}
          <div class="alert alert-danger w-100" role="alert">
              [{{ error }}]
          </div>
          {% endfor %}
          <label>Module Code</label>
          {{ form.code(class_="form-control") }}
          {% for error in form.code.errors %}
          <div class="alert alert-danger" role="alert">
            [{{ error }}]
          </div>
          {% endfor %}
          <label>Deadline</label>
          {{ form.deadline(class_="form-control") }}
          {% for error in form.deadline.errors %}
          <div class="alert alert-danger" role="alert">
            [{{ error }}]
          </div>
          {% endfor %}
          <label>Description</label>
          {{ form.description(class_="form-control") }}
          {% for error in form.description.errors %}
          <div class="alert alert-danger" role="alert">
            [{{ error }}]
          </div>
          {% endfor %}
          <p><input type="submit" class="btn btn-dark" value="Create"></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}