{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <form method="post" name="create">
        {{ form.hidden_tag() }}
        <label>Title</label>
        {% if task != 0 %}
          {{ form.title(class_="form-control", value=task.title) }}
        {% else %}
          {{ form.title(class_="form-control") }}
        {% endif %}
        {% for error in form.title.errors %}
        <div class="alert alert-danger w-100" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        <br>
        <label>Module Code</label>
        {% if task != 0 %}
          {{ form.code(class_="form-control", value=task.code) }}
        {% else %}
          {{ form.code(class_="form-control") }}
        {% endif %}
        {% for error in form.code.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        <br>
        <label>Deadline</label>
        {% if task != 0 %}
          {{ form.deadline(class_="form-control", value=task.deadline) }}
        {% else %}
          {{ form.deadline(class_="form-control") }}
        {% endif %}
        {% for error in form.deadline.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        <br>
        <label>Description</label>
        {% if task != 0 %}
          {{ form.description(class_="form-control", placeholder=task.description) }}
        {% else %}
          {{ form.description(class_="form-control", rows="4") }}
        {% endif %}
        {% for error in form.description.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
        <br>
        {% if task != 0 %}
          <p><input type="submit" class="btn btn-dark" value="Edit"></p>
        {% else %}
          <p><input type="submit" class="btn btn-dark" value="Create"></p>
        {% endif %}
    </form>
  </div>
</div>
{% endblock %}
